<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../includes/header-admin.ejs') %>
    <main class="main-admin">
        <%- include('../includes/navigation-admin.ejs') %>
        <section class="section-admin">
            <!-- Filtros de productos -->
        <div class="filters">
            <form action="/admin/productos" method="GET">
                <!-- Filtro por Categoría -->
                <label for="categoria">Categoría:</label>
                <select name="categoria" id="categoria">
                    <option value="">Todas</option>
                    <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria._id %>" 
                            <%= categoria._id.toString() === categoriaSeleccionada ? 'selected' : '' %>>
                            <%= categoria.categoria %>
                        </option>
                    <% }) %>
                </select>

                <!-- Filtro por Creador -->
                <label for="creador">Creador:</label>
                <select name="creador" id="creador">
                    <option value="">Todos</option>
                    <% creadores.forEach(creador => { %>
                        <option value="<%= creador._id %>" 
                            <%= creador._id.toString() === creadorSeleccionado ? 'selected' : '' %>>
                            <%= creador.nombres %> <%= creador.apellidos %>
                        </option>
                    <% }) %>
                </select>

                <button type="submit">Filtrar</button>
            </form>
        </div>
            <div class="controls-div">
                <div class="container-btn-nuevo-producto">
                    <a class="link-nuevo-producto" href="/admin/crear-producto">
                        <i class="fa-solid fa-circle-plus"></i>
                        Nuevo producto
                    </a>
                </div>
            </div>
            <% if (prods.length> 0) { %>
                <div class="grid">
                    <% for (let producto of prods) { %>
                        <article class="card product-item">
                            <div class="card__actions">
                                <a class="btn-editar" href="/admin/editar-producto/<%= producto._id %>?editar=true"
                                    class="btn">
                                    <i class="fa-solid fa-pen-to-square fa-2x"></i>
                                </a>
                                <form action="/admin/eliminar-producto" method="POST">
                                    <input type="hidden" value="<%= producto._id %>" name="idProducto">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn-eliminar" type="submit">
                                        <i class="fa-solid fa-trash-can fa-2x"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="card__image">
                                <img src="/<%= producto.urlImagen %>" alt="<%= producto.nombreproducto %>">
                            </div>
                            <header class="card__header">
                                <h1 class="product__title">
                                    <%= producto.nombreproducto %>
                                </h1>
                            </header>
                            <div class="card__content">
                                <h2 class="product__price">S/. <%= producto.precio %>
                                </h2>
                                <p class="product__description"><strong>Descripción:</strong>
                                    <%= producto.descripcion %>
                                </p>
                                <p class="product__characteristics"><strong>Características:</strong>
                                    <%= producto.caracteristicas %>
                                </p>
                                <% if (producto.categoria_id && producto.categoria_id.categoria) { %>
                                    <p class="product__category"><strong>Categoría:</strong> <%= producto.categoria_id.categoria %></p>
                                <% } else { %>
                                    <p class="product__category"><strong>Categoría:</strong> Sin categoria</p>
                                <% } %>
                            </div>
                        </article>
                        <% } %>
                </div>
                <section class="pagination">
                    <% if (lastPage > 1) { %>
                        <div class="paginacion">
                            <% for (let i = 1; i <= lastPage; i++) { %>
                                <a href="?page=<%= i %>&categoria=<%= categoriaSeleccionada %>&creador=<%= creadorSeleccionado %>" 
                                   class="<%= i === page ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                            <% } %>
                        </div>
                    <% } %>
                </section> 
                <% } else { %>
                    <h1>No hay productos</h1>
                    <% } %>
        </section>
    </main>
</body>
<script src="/js/sort.js"></script>




