<%- include('../includes/head.ejs') %>

</head>
<body>
    <%- include('../includes/header-publicidad.ejs') %>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (typeof pedidos == 'object' && pedidos.length == 0) { %>
            <h1>No ha realizado pedidos</h1>
        <% } else { %>
            <ul class="orders">
                <% pedidos.forEach(pedido => { %>
                    <li class="orders__item">
                        <h1>Pedido - # <%= pedido._id %></h1>
                        <a href="/pedidos/<%= pedido._id %>">Comprobante</a>
                        <ul class="orders__products">
                            <% let total = 0; %>
                            <% pedido.productos.forEach(item => { 
                                total += item.cantidad * item.producto.precio; 
                            %>
                                <li class="orders__products-item">
                                    (<%= item.cantidad %>) <%= item.producto.nombreproducto %> [<%= item.producto.precio.toFixed(2) %>]
                                </li>
                            <% }); %>
                        </ul>
                        <div class="total-container">
                            <h2>Total del Pedido: <%= total.toFixed(2) %></h2>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
