<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">

    </head>

    <body>
        <%- include('includes/header-publicidad.ejs') %>
        <%- include('includes/navigation.ejs') %>

            <main>
                <% if (mensajeError) { %>
                    <div class="user-message user-message--error">
                        <%= mensajeError %>
                    </div>
                    <% } %>
                        <div class="box-center_flex">
                            <form class="container" action="/usuario/signup" method="POST" novalidate>
                                <div class="datos">
                                    <div id="page-title"><b>Crear nueva cuenta de cliente</b></div>
                                    <legend class="legend">
                                        <div>Información Personal</div>
                                    </legend>
                                    <div>
                                        <label>Nombres <span class="asterisco">*</span></label>
                                        <input
                                            type="text"
                                            name="nombres"
                                            value="<%= datosAnteriores.nombres %>"
                                            class="<%= erroresValidacion.find(e => e.path === 'nombres') ? 'inputText invalid' : 'inputText' %>"
                                            autocomplete="off" required>
                                    </div>
                                    <div>
                                        <label>Apellidos <span class="asterisco">*</span></label>
                                        <input
                                            type="text"
                                            name="apellidos"
                                            value="<%= datosAnteriores.apellidos %>"
                                            class="<%= erroresValidacion.find(e => e.path === 'apellidos') ? 'inputText invalid' : 'inputText' %>"
                                            autocomplete="off"
                                            required>
                                    </div>
                                </div>
                                <div class="datos">
                                    <legend class="legend">
                                        <div>Información de inicio de sesión</div>
                                    </legend>
                                    <div>
                                        <label>Correo electrónico <span class="asterisco">*</span></label>
                                        <input
                                            type="email"
                                            name="email"
                                            value="<%= datosAnteriores.email %>"
                                            class="<%= erroresValidacion.find(e => e.path === 'email') ? 'inputText invalid' : 'inputText' %>"
                                            autocomplete="off" required>
                                    </div>
                                    <div>
                                        <label>Contraseña <span class="asterisco">*</span></label>
                                        <input
                                            type="password"
                                            name="password"
                                            value="<%= datosAnteriores.password %>"
                                            class="<%= erroresValidacion.find(e => e.path === 'password') ? 'inputText invalid' : 'inputText' %>"
                                            autocomplete="off"
                                            required>
                                    </div>
                                    <div>
                                        <label>Confirmar Contraseña <span class="asterisco">*</span></label>
                                        <input
                                            type="password"
                                            name="password2"
                                            value="<%= datosAnteriores.password2 %>"
                                            class="<%= erroresValidacion.find(e => e.path === 'password2') ? 'inputText invalid' : 'inputText' %>"
                                            autocomplete="off"
                                            required>
                                    </div>
                                    <div>
                                        <span class="asterisco">*Campos obligatorios</span>
                                    </div>
                                    <div>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button type="submit" class="btn-samsung">
                                            <span>Crear una cuenta</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

            </main>
            <%- include('includes/end.ejs') %>